.container {
    max-width: 100%!important;
}

// @media (min-width: 1200px) {
//   	.container {
//     	max-width: 80%!important;
//   	}
// }

@media (min-width: 1800px) {
  	.container {
    	max-width: 70%!important;
  	}
}