
// .scroll-table {
//     max-height: 40vh!important;
//     overflow-y: auto!important;
// }
/* test for different height */
.scroll-table {
    max-height: 60vh!important;
    overflow-y: auto!important;
}

@media (min-height: 1080px) {
  	.scroll-table {
    	max-height: 55vh!important;
  	}
}

@media (min-height: 1200px) {
  	.scroll-table {
    	max-height: 50vh!important;
  	}
}


@media (min-height: 1280px) {
  	.scroll-table {
    	max-height: 45vh!important;
  	}
}

@media (min-height: 1500px) {
  	.scroll-table {
    	max-height: 40vh!important;
  	}
}