.dup-btn-outline {
  font-family: ForzaMedium;
  background-color: white!important;
  color: #81B13E!important;
  text-decoration: none!important;
  border: thin solid #81B13E!important; 
  &:hover {
    background-color: #678d31!important; 
    color: white!important;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
  }
}

.dup-item {
  font-family: ForzaMedium;
  line-height: 18px;
  &:hover {
    background-color: #F2F2F2;
    cursor: pointer;
  }
}
.selectLi { background-color: #81B13E ; color: #fff;}

.disable-row {
  pointer-events:none ;
  color:#ced4da;
}

.not-allowed-cursor {
  &:hover {
    cursor: not-allowed;
  }
}

.dropdown-menu{ border-radius: 0!important;}