.font-regular {
    font-family: RobotoRegular !important;
}

.font-italic {
    font-family: RobotoItalic !important;
}

.font-bold {
    font-family: RobotoBold !important;
}

.modal-section-border-bottom {
    border-bottom: 2px solid #68A7DD!important;
}

.color-warning {
    color: #d72d3c!important;
}