
.select-lang {
    border-color: #68A7DD;
    background-color: #FFFFFF;
    font-family: RobotoRegular !important;
    // font-size: 16px !important;
}

.option-lang {
    font-family: RobotoRegular !important;
}