$border-style-thick: 2px solid #2D3C4B!important ;
$border-style-thin: 1px solid #D0D0D0!important ;

.border-top-bottom {
    border-bottom: $border-style-thick ;
    border-top: $border-style-thick ;
}

.border-top-thick {
    border-top: $border-style-thick ;
}

.border-bottom-thick {
    border-bottom: $border-style-thick ;
}

.border-bottom-thin {
    border-bottom: $border-style-thin; 
}

.option-model {
    font-family: ForzaMedium!important;
    font-size: 20px;
    color: #2D3C4B !important;
}
.option-category {
    font-family: ForzaMedium!important;
    font-size: 18px!important;
    color: #2D3C4B !important;
}

.option-category-price {
    font-family: RobotoBold!important;
    font-size: 18px!important;
    color: #2D3C4B !important;
}

.price-bold {
    font-family: RobotoBold!important;
    font-size: 20px;
}

.price-mensuality {
    font-family: RobotoItalic!important;
    font-size: 20px;
}

.option-detail-row {
    font-family: RobotoRegular!important;
    font-size: 14px;
    color: #5C7A99!important;
}

.arrow-svg{
    color: #68A7DD ;
    &:hover {
        cursor: pointer!important;
        color: #2873b4!important;
    }
}

.color-warning {
    color: #d72d3c!important;
}

.option-hover {
    &:hover {
        cursor:pointer
    }

}

.option-necessity-picto {
    &:hover {
        cursor: pointer;
    }
}

// select option animation

// @-webkit-keyframes change-color {
//   0% {  background: rgba(92, 122, 153, .3); }
//   100% {  background: rgba(92, 122, 153, .1); }
// }
// @-moz-keyframes change-color {
//   0% {  background: rgba(92, 122, 153, .3); }
//   100% {  background: rgba(92, 122, 153, .1); }
// }
// @-o-keyframes change-color {
//   0% {  background: rgba(92, 122, 153, .3); }
//   100% {  background: rgba(92, 122, 153, .1); }
// }
@keyframes change-color {
  0% {  background: rgba(92, 122, 153, .3); }
  100% {  background: rgba(92, 122, 153, .0); }
}

.option-added {
//   -webkit-animation: change-color 2s ; /* Safari 4+ */
//   -moz-animation:    change-color 2s ; /* Fx 5+ */
//   -o-animation:      change-color 2s ; /* Opera 12+ */
  animation:         change-color 1s ; /* IE 10+ */
}

.finance-wrapper {
    &:hover {
        cursor:pointer;
    }
}