.model-list-table>tbody>tr:nth-child(even) {
    background-color: #E8F2FA;
}
.model-price-ht {
    font-family: RobotoMedium!important;
}
.model-price-ttc {
    font-family: RobotoItalic!important;
}
.model-currency {
    font-family: robotoRegular!important;
}
.model-label{
    font-family: RobotoBold!important;
}
.model-hover {
    cursor:pointer;
}