.option-name {
    font-family: RobotoRegular!important;
    font-weight: 100!important;
}
.option-hover {
    &:hover {
        cursor:pointer;
    }
}
.option-price {
    font-family: RobotoRegular!important;
    font-weight: 600!important;
}
.option-ref {
    font-family: RobotoItalic!important;
    font-size: 0.85rem!important;
    font-weight: 100!important;
}

input[type=checkbox] {
        accent-color: #68A7DD ;
    }

.option-incompatibility {
    background-color: rgba(232, 232, 232, .3);;
    
}
.option-label-disable {
    color: #868686;
}

.option-other-necessity-picto {
   color:rgba(230, 145, 56, 1);
   &:hover {
    color:rgba(235, 167, 95, 1);
   }
}

.option-necessity-picto {
   color:rgba(212, 28, 15, 1);
   &:hover {
    color:rgba(216, 50, 38, 1);
   }
}

.option-necessity-info {
    background-color: rgba(212, 28, 15, 0.3);
}

.option-other-necessity-info {
    background-color: rgba(235, 167, 95, 0.3);
}

.option-disable {
    background-color: #EEEEEE
}


// modals style
.font-regular {
    font-family: RobotoRegular !important;
}

.font-italic {
    font-family: RobotoItalic !important;
}

.font-bold {
    font-family: RobotoBold !important;
}