$link-color-info: #68A7DD;
$link-color-compat: #F1B90C;
$link-color-regular: #2D3C4B;
$link-color-hover-regular: #0d6efd;
$link-color-delete: #678d31;
$link-color-hover-delete: #81B13E;

.cus-link-info {
    &:hover {
     color: $link-color-info;   
     cursor: pointer;
    }
}

.cus-link-compat {
    &:hover {
     color: $link-color-compat;   
     cursor: pointer;
    }
}
.cus-backlink-regular {
    font-family: RobotoRegular;
    font-size: 16px;
    color: $link-color-regular;
    &:hover {
        color: $link-color-hover-regular;
        cursor: pointer;
    }

}

.cus-config-link  {
  font-family: RobotoRegular;
  color: #ffffff;
}

.cus-link-logout {
    font-family: ForzaMedium;
    color: $link-color-info;
    &:hover {
        color: $link-color-hover-regular;
        cursor: pointer;
    }
}

.cus-link-delete {
    // color: $link-color-delete;   
    text-decoration: underline;
    &:hover {
     color: $link-color-hover-delete;   
     cursor: pointer;
    }
}

