$picto-color-info: #68A7DD;
$picto-color-info-hover: #0d6efd;

.picto {
    width: 1rem!important;
}

.picto-continue {
    min-width: 0.8rem!important;
}

.logout-picto {
    max-width: 1.3rem;
    max-height: 1.5rem;
    width: auto!important;
    height: auto!important;
    color: $picto-color-info;
    &:hover {
        color: $picto-color-info-hover;
    }
} 

.exclamation-picto {
   color:rgba(230, 145, 56, 1);
   &:hover {
    color:rgba(235, 167, 95, 1);
   }
}

.image-picto{
    color: #68A7DD ;
    &:hover {
        cursor: pointer!important;
        color: #2873b4!important;
    }
}