@mixin btn-default {
  font-family: ForzaMedium!important;
  text-decoration: none!important;
  border: thin solid #81B13E!important; 
  &:hover {
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
  }
  &:disabled {
    background-color: #a2a2a2!important;
    cursor: not-allowed!important;
    pointer-events: all !important;
  }
}

.cbtn-plain {
  background-color: #81B13E!important;
  color: white!important;
  &:hover {
    background-color: #678d31!important;
    color: white!important;
  }
  @include btn-default;
}

.cbtn-outline {
  background-color: white!important;
  color: #81B13E!important;
  &:hover {
    background-color: #678d31!important; /* Green */
    color: white!important;
  }
  @include btn-default;
}