/* navbar components */
.nav-main-navbar {
  background-color: #2D3C4B;
  width: 100%;
  height: 100px;
  margin-bottom: 50px;
}
.nav-store-location-link {
  font-family: ForzaMedium;
  color: #68A7DD;
  margin-bottom: 0!important;
}
.nav-back-link {
  font-family: ForzaMedium;
  text-decoration: none;
  color: #FEFEFE;

}
.config-title {
  font-family: ForzaBold;
  color:#ffffff !important;
  margin-bottom: 0!important;
}
.img-logo{
  width: 3rem!important;
}
