 /* pages */
 /* .page-title {
    font-family: ForzaBold;
    color:#68A7DD !important;
 } */

 /* .page-h2 {
  font-family: ForzaBook;
 } */

/* .config-link  {
  font-family: RobotoRegular;
  color: #000101;
} */

/* navbar components */
/* .nav-main-navbar {
  background-color: #2D3C4B;
  width: 100%;
  height: 140px;
  margin-bottom: 50px;
}
.nav-store-location-link {
  font-family: ForzaMedium;
  color: #68A7DD;
}
.nav-back-link {
  font-family: ForzaMedium;
  text-decoration: none;
  color: #FEFEFE;

} */

/* ConfigBand component done */
/* .picto {
  max-width: 12px;
  height: auto;
} */

/* product card */
/* .product-card {
  border-bottom: 1px solid black!important;
}
.product-card-model-name {
  font-family: ForzaBook;
} */

/* UI components */
/* .btn-valid {
  font-family: ForzaMedium;
  background-color: #81B13E!important; 
  color: white!important;
  text-decoration: none!important;
}
.btn-valid:hover {
  font-family: ForzaMedium;
  background-color: #678d31!important; 
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
  color: white!important;
  text-decoration: none!important; */
  /* transform: translateY(-1px); */
/* } */

 .customSelect{-webkit-appearance:auto ;
  -moz-appearance: auto;
  appearance: auto!important; }

 .annotation{font-size:16px; font-weight: normal; color: #2D3C4B; text-align: center; line-height: 18px;font-family: robotoRegular!important;}
 h4.modal-title{ color: #68A7DD !important;}
 .popinfinancement{font-family: ForzaBook; font-size: 16px;}
 .form-control:focus{border-color: #68A7DD!important; box-shadow:none /*0 0 0 0.25rem rgba(104, 167, 221, 0.25)*/;}
.input-group-text{ background-color: #FFF; border:0 none;}
 .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;}
.form-control{font-family: robotoRegular!important;}
.btnCenter button{  margin: 0 auto!important;}
.eNone{ display: none;}
.noU{text-decoration: none;}
.ptH{ padding-top: 5px;}
.noU:hover{ color: #FFF;}
.picto-continue{ margin-top:-5px;}
.dateConf{ color: #C2C2C2; font-style: italic; font-size: 14px;}
.borderBot{ border-bottom:1px solid #000;}
 .borderBot td{ padding-bottom: 12px;}
 .borderMT td{ padding-top: 12px;}
 .cus-backlink-regular:hover{ color:#81B13E!important; }
 .attente{ position: absolute; z-index: 99; width: 100%; height: 100%; top: 0; left: 0;}