.spec-model-label {
    font-family: RobotoBold!important;
}
.spec-model-category {
    font-family: RobotoMedium!important;
}
.spec-model-line {
    font-family: RobotoRegular!important;
}
.cat-border-bottom {
    border-bottom: 2px solid #68A7DD!important;
}

fieldset.scheduler-border {
    border: solid 1px #68A7DD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

legend.scheduler-border {
    width: auto !important;
    border: none;
}